@charset "UTF-8";

html, body {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #000000;
	font-family: 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif, 'Helvetica';
	font-size: 1em;
}
div.container { /*親要素*/
	position: relative;
	width: 100%;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}
div.header { 
	height: 80px;
	width: 970px;
	margin: auto;
}

div.header > p {
	color: #d4d4d4;
	text-align: center;
	font-size: 3em;
	margin: auto;
}
.desc-line > a {
	color: #1e90ff;

	margin: 0px 2px;
	width: 156px;
	float: left;
}

div.contents {
	width: 970px;
	margin: auto;
}

div.footer {
	position: absolute;
	width: 100%;
	height: 50px;
	bottom: 0px;
}

div.footer > p {
	color: #d4d4d4;
	text-align: center;
}

textarea.inputNames {
	resize: none;
	float: left;
	background-color: #ffffff;
	margin: 0px 2px;
	width: 150px;

	font-family: 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif;
	font-size: 1em;
}

.line {
	width: auto;
	padding: 2px;
	margin: 2px;
	clear : both;
}

.line > div {
	border: thin solid #000000;
	height: 9em;
	float: left;
	font-size: 1em;
	padding: 2px;
	margin: 0px 2px;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}

.clearfix {
	min-height: 1px;
}

* html .clearfix {
	height: 1px;
	/*¥*//*/
	height: auto;
	overflow: hidden;
	/**/
}

.desc-line  {
	padding: 2px;
	margin: 2px;
}

.desc-line > div {
	border: thin solid #000000;
	height: 1em;
	float: left;
	font-size: 1em;
	padding: 2px;
	margin: 0px 2px;
	color: #d4d4d4 !important;
}

.desc-line > textarea.inputNames {
	visibility: hidden;
	height: 0.5em;
}

.desc-line > div.typeChart {
	color: #5c8b8d !important;
}

.desc-line > div.baseStats {
	color: #5ecb03 !important;
}

div.types {
	color: #43a9d0;
	width: 50px;
}

div.abilities {
	color: #57d0d0;
	width: 370px;
}

div.moves {
	color: #989cd2;
	width: 180px;
}

div.weightDamages {
	color: #d4d4d4;
	width: 50px;
}

div.names {
	color: #57d0d0;
	width: 144px;
}

div.typeChart {
	width:  344px;
}

div.baseStats {
	color: #57d0d0;
	width: 320px;
}
div.baseStats div.sum {
	color: #f2ab3e;
	float: right;
}

div.line > div.overallTypeChart {
	height: 4.5em;
	width: 470px;
	margin-left: 297px;
}

div.desc-line > div.overallTypeChart {
	height: 1em;
	margin-left: 453px;
	color: #57d0d0;
}

div.desc-OverallTypeChart {
	color: #57d0d0;
	width: 50px;
}


div.overallTypeChart > div {
	float: left;
}

.overallTypeChartColor0 {
	color: #244e00;
	float: left;
}

.overallTypeChartColor1 {
	color: #baf72c;
	float: left;
}

.overallTypeChartColor2 {
	color: #fffa28;
	float: left;
}

.overallTypeChartColor3 {
	color: #e12727;
	float: left;
}

input[type="button"] {
	float: left;
	font-size: 1em;
	width: 100px;
}

input.setting {
	clear: both;
	margin-top: 4px;
}
